/* General form container */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 90px auto 0; /* 40px top margin */
    padding: 20px;
    background-color: #f4f7fc;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .contact-form label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    font-size: 14px;
    margin-bottom: 16px;
    border: 2px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #007BFF;
    outline: none;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color: #888;
  }
  
  .contact-form textarea {
    height: 120px;
    resize: none; /* Prevents resizing */
  }
  
  .contact-form button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: #FFCC00; /* Yellow color */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .contact-form button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .contact-form button:hover {
    background-color: #FFB800; /* Slightly darker yellow on hover */
    transform: scale(1.05); /* Slightly enlarges the button on hover */
  }
  
  
  /* Error message styling */
  .ValidationError {
    color: #ff4d4d;
    font-size: 12px;
    margin-bottom: 12px;
  }
  